.home-page {
    min-height: 100vh;
    background-image: url('/assets/pics/barberSaloon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative; 
    opacity: 0.92;
}

.title{
    background-color: rgba(0, 0, 0, .4);
}

