<div class="container my-5">
    <div class="row">
        <!-- Leva Kolona: Slika -->
        <div class="col-12 col-lg-6 order-0 order-lg-0 d-flex justify-content-center mb-4 mb-lg-0">
            <img src="/assets/pics/aboutUs.png" alt="aboutUs" class="img-fluid">
        </div>
        <!-- Desna kolona: Text -->
        <div class="col-12 col-lg-6 order-1 order-lg-1">
            <h2>Naziv vaseg frizeraja</h2>
            <p>Kratak opis vaseg frizeraja</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at auctor massa, eu placerat dolor. Sed finibus purus sagittis commodo semper. Nullam tincidunt feugiat sapien vitae congue. Sed sit amet nulla sed leo placerat euismod sed sit amet odio. Pellentesque in fermentum ante. Maecenas at mollis tellus, vitae mollis augue. Fusce ultrices sapien ac rutrum cursus. Maecenas eget mi posuere, bibendum ligula eget, tincidunt enim. Cras non dictum lorem. Nam in velit enim.</p>
        </div>
    </div>
</div>
