<nav class="navbar navbar-expand-lg navbar-dark bg-black shadow">
  <div class="container">
    <a routerLink="/" class="navbar-brand fw-bold text-success">Frizerski Salon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/" class="nav-link active">Početna</a>
        </li>
        <li class="nav-item">
          <a routerLink="/aboutUs" class="nav-link">O nama</a>
        </li>
        <li class="nav-item">
          <a routerLink="/galleria" class="nav-link">Galerija</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" class="nav-link">Kontakt</a>
        </li>
      </ul>
      <div class="d-flex">
        <button routerLink="/reservation" class="btn btn-outline-success" type="button">Zakaži</button>
      </div>
    </div>
  </div>
</nav>
