<div class="container">
    <h1 class="text-center my-3">Rezervišite svoje šišanje</h1>
    <p-timeline [value]="events" [layout]="isLargeScreen ? 'horizontal' : 'vertical'" align="left">
        <ng-template pTemplate="content" let-event>
            {{ event }}
        </ng-template>
    </p-timeline>
    <p class="text-muted text-center">*Ovde će biti prikazano šta ste izabrali</p>

    <div class="d-flex justify-content-center flex-column align-items-center my-3">
        <label for="icondisplay" class="font-bold mb-2">Izaberite datum:</label>
        <p-calendar [(ngModel)]="date2" [minDate]="minDate" [maxDate]="maxDate" [showIcon]="true" inputId="icondisplay"
            (onSelect)="updateDate()"></p-calendar>
    </div>

    <p-tabView styleClass="tabview-custom" (onChange)="selectFrizer(frizers[$event.index].id)">
        <p-tabPanel *ngFor="let frizer of frizers" [header]="frizer.ime + ' ' + frizer.prezime">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                        shape="circle"></p-avatar>
                    <span class="font-bold white-space-nowrap m-0">{{ frizer.ime }} {{ frizer.prezime }}</span>
                </div>
            </ng-template>
            <p-table [value]="reservations" responsiveLayout="stack" [breakpoint]="'960px'"
                [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Vreme</th>
                        <th>Status</th>
                        <th>Akcija</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-reservation>
                    <tr [ngClass]="{'row-accessories': reservation.status === 'Zauzeto'}">
                        <td>{{ reservation.time }}</td>
                        <td>
                            <p-tag [value]="reservation.status" [severity]="getSeverity(reservation.status)" />
                        </td>
                        <td>
                            <p-button [icon]="getIcon(reservation.status)" [rounded]="true" 
                                [severity]="getButtonSeverity(reservation.status)">
                            </p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
    </p-tabView>
</div>
