<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <h1>Mesto da prikazete Vaše radove</h1>
    </div>
    <div class="col-12 col-lg-3 order-0 order-lg-0 d-flex justify-content-center">
        <img src="/assets/pics/hairstyle1.png" alt="hairstyle1" class="img-fluid">
    </div>
    <div class="col-12 col-lg-3 order-1 order-lg-1 d-flex justify-content-center">
        <img src="/assets/pics/hairstyle2.png" alt="hairstyle2" class="img-fluid">
    </div>
    <div class="col-12 col-lg-3 order-2 order-lg-2 d-flex justify-content-center">
        <img src="/assets/pics/hairstyle3.png" alt="hairstyle3" class="img-fluid">
    </div>
    <div class="col-12 col-lg-3 order-3 order-lg-3 d-flex justify-content-center">
        <img src="/assets/pics/hairstyle1.png" alt="hairstyle1" class="img-fluid">
    </div>
    <div class="col-12 col-lg-3 order-4 order-lg-4 d-flex justify-content-center">
        <img src="/assets/pics/hairstyle2.png" alt="hairstyle2" class="img-fluid">
    </div>
    <div class="col-12 col-lg-3 order-5 order-lg-5 d-flex justify-content-center">
        <img src="/assets/pics/hairstyle3.png" alt="hairstyle3" class="img-fluid">
    </div>
</div>