<div class="container my-5">
    <!-- Title -->
    <div class="d-flex justify-content-center my-3">
        <h1 class="fw-bold">Kontaktirajte Nas</h1>
    </div>

    <!-- Contact Information -->
    <div class="row text-center mb-5">
        <!-- Working Hours -->
        <div class="col-12 col-md-4 mb-4">
            <div class="d-flex flex-column align-items-center">
                <i class="bi bi-clock-fill fs-1 text-success mb-3"></i>
                <h5 class="fw-bold">Radno Vreme</h5>
                <p class="mb-1">Ponedeljak - Petak: 08:00 - 20:00</p>
                <p class="mb-1">Subota: 09:00 - 18:00</p>
                <p>Nedelja: Zatvoreno</p>
            </div>
        </div>

        <!-- Location -->
        <div class="col-12 col-md-4 mb-4">
            <div class="d-flex flex-column align-items-center">
                <i class="bi bi-geo-alt-fill fs-1 text-success mb-3"></i>
                <h5 class="fw-bold">Lokacija</h5>
                <p>Ljutice Bogdana 1, Beograd</p>
            </div>
        </div>

        <!-- Phone -->
        <div class="col-12 col-md-4 mb-4">
            <div class="d-flex flex-column align-items-center">
                <i class="bi bi-telephone-fill fs-1 text-success mb-3"></i>
                <h5 class="fw-bold">Telefon</h5>
                <p>+381 65 123 456</p>
            </div>
        </div>
    </div>

    <!-- Google Maps -->
    <div class="d-flex justify-content-center">
        <iframe 
            class="rounded shadow"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2831.331204105914!2d20.462354815733736!3d44.8119375790984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7aa1e0f35797%3A0x13dc54a02b2a4c45!2sLjutice%20Bogdana%201%2C%20Beograd!5e0!3m2!1sen!2srs!4v1679042931869!5m2!1sen!2srs" 
            width="100%" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</div>
